@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Mi sitio</h1>
    <p>#PlatziChallenge <a href="https://platzi.com/blog/primera-pagina-web-2022/" target="_blank">Crea tu primera página web</a>.</p>
</div>
